*{
    h1{
        color: blueviolet;
        text-align: center;
    }
     
    tr{
        color:bisque;
        font-size:xx-large;
    }
     
    ::placeholder{
        padding: 10px;
        
    
    }
    body{
        background-color:pink;
    }

    button{
        color:black;
        background-color: blueviolet;
        font-style: initial;
        margin:30px;
    }
    td{
        margin-left: 30px;
    }
}